/* bag styles */
#bagContainer{
    position: absolute;
    top: 4.5rem;
    right: 2.5rem;
    background-color: rgba(255, 255, 255);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .3), 0px 0px 4px rgba(0, 0, 0, .05);
    width: 20rem;
    /* height: 15rem; */
    height: fit-content;
    border-radius: 1.25rem;

    display: none;
    flex-direction: column;
    align-items: center;
}
#bagTitle{
    font-size:.9rem;
    font-weight: bold;
    text-align: center;
    margin: 0.5rem;
    color: #715655;
}
#itemsContainer{
    height: fit-content;
    width: 100%;
}
/* product styles */
#product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: .2rem;
    margin-bottom: .2rem;
    position: relative;
}
#productNameCont, #productFlavorCont{
    width: 100%;
}
#productName, #productFlavor{
    margin-left: .5rem;
}
#productName{
    font-size: .9rem;
}
#productFlavor{
    font-size: 1.25rem;
}
#productPriceContainer{
    position: absolute;
    height: 100%;
    right: 0;
    margin-right: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#productPrice{
    font-size: 1rem;
}
/* menu button */
#menuButtonContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .20rem;
}
#menuButton{
    background-color: #715655;
    color: white;
    font-family: 'Playpen Sans';
    font-size: .70rem;
    border: none;
    border-radius: 35px;
    width: 50%;
    height: 35px;
    cursor: pointer;
}